@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@keyframes music-bar-1 {
  0%,
  100% {
    height: 8px;
  }
  50% {
    height: 12px;
  }
}
@keyframes music-bar-2 {
  0%,
  100% {
    height: 12px;
  }
  50% {
    height: 6px;
  }
}
@keyframes music-bar-3 {
  0%,
  100% {
    height: 4px;
  }
  50% {
    height: 10px;
  }
}

.animate-music-bar-1 {
  animation: music-bar-1 0.8s ease-in-out infinite;
}
.animate-music-bar-2 {
  animation: music-bar-2 0.8s ease-in-out infinite 0.1s;
}
.animate-music-bar-3 {
  animation: music-bar-3 0.8s ease-in-out infinite 0.2s;
}
